
/*--------------------------------------------------
----------------------- Base styles ----------------
---------------------------------------------------*/

.container {
  width: 100% !important;
  }

#preloader {
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 100%;
    top: 0;
    left: 0;
    background-color: #3b3b3b;
    z-index: 9999;
}

#spinner {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 0px;
    background: url(../images/spinner.GIF) no-repeat;
    background-size: 50% 50%;
}
#portfolio .mCSB_container { 
    margin-right: 0 !important; 
}

#custumize-style {
    display: none;
}
label {
    font-weight: 400 !important;
}
.text-left {
    text-align: left !important;
}
.clear {
    clear: both;
}
ul, li, nav {
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    color: #333333;
    overflow-x: hidden;
    background-color: #3b3b3b;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.wrapper {
    display: block;
    width: 100%;
    overflow: auto;
    position: absolute;
    height: 100vh;
}
h1 {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.resp-tabs-container h1 {
    font-size: 26px;
    color: #999;
    text-transform: inherit;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-bottom: 1px solid #e6e6e6;
}

.resp-tabs-container h1:not(.h-bloc) {
    background: none;
}

a {
    text-decoration: none !important;
}


/*--------------------------------------------------
---------------------- resp-tabs -------------------
---------------------------------------------------*/

.icon_menu {
    font-size: 22px;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    width: 42px !important;
    height: 42px !important;
    text-align: center;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    line-height: 43px;
}

#verticalTab {
    z-index: 1;
    height: 100%;
}

/*--------------------------------------------------
---------------------- Mobile View  ---------------------
---------------------------------------------------*/

@media screen and (max-width: 600px) {
    #services .pack-service {
        width: 50% !important;
    }

}

/*--------------------------------------------------
---------------------- Title  ---------------------
---------------------------------------------------*/
.title_content {
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #DDD;
}

.title_content:after {
    height: 1px;
    display: block;
    left: 0;
    content: " ";
    position: relative;
    width: 30px;
    top: 1px;
}

.text_content {
    display: inline-block;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    padding-top: 2px;
    margin-bottom: 5px;
}


/*--------------------------------------------------
------------------- main-content --------------------
---------------------------------------------------*/

.widget-profil{
    height: 100vh;   
    float: right;
}

.innerprofile
{
    padding-left: 20px;   
    padding-right: 20px;
}
.widget-profil .circle {
    display: block;
    width: 150px;
    height: 150px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
}

.mainfx {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.15);
}

.mainfx:hover {
}

/*@keyframes float {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(-3.5px);
  }
  55% {
    transform: translatey(2px);
  }
  80% {
    transform: translatey(-1px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    transform: translatey(1.5px);
  }
  50% {
    transform: translatey(-1px);
  }
  100% {
    transform: translatey(1.5px);
  }
}*/

p {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    margin: 0;
    color: #999 !important;
    font-family: 'Lato', sans-serif;
}

.artwork-detail {
margin-top: 12%;
}

.artwork-detail h6 {
    text-transform: uppercase;
    font-weight: 380;
    margin: 10px 0 3px 0;
    text-align: center;
    font-size: 15px !important;
    color: rgba(220, 220, 220, 0.4);
    letter-spacing: 1.4px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    padding: 0px 15px 0px;
}
.pageicon:hover .artwork-detail h6 {
    text-transform: uppercase;
    margin: 10px 0 3px 0;
    text-align: center;
    font-size: 15px !important;
    color: rgba(220, 220, 220, 0.85);
}

.artwork-detail p {
    text-align: center;
    border-left: 0;
}

@media screen and (max-width: 600px) {
    .artwork-detail h6 {
    font-size: 14px !important;
    margin-top: -10px !important;
    }

    .pageicon:hover .artwork-detail h6 {
    font-size: 14px !important;
    margin-top: -10px !important;
    }
}

@media screen and (max-width: 800px) {
.pageicon:hover {
  -webkit-transform: none !important;
  transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
}
}

.pageicon {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  transition-property: transform;
  transform: translateZ(0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.pageicon:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/*@keyframes range-x {
    0%   {transform: translateX(0);}
    30%  {transform: translateX(-1px) rotate(0.02deg);}
    50%  {transform: translateX(1px) rotate(0deg);}
    65%  {transform: translateX(0.5px) rotate(0.02deg);}
    80%  {transform: translateX(0px) rotate(0deg);}
    89%  {transform: translateX(-1px) rotate(0.02deg);}
    100% {transform: translateX(0) rotate(0deg);}
}*/
@keyframes range-y {
    0%   {transform: translateY(0);}
    20%  {transform: translateY(3px) rotate(0.02deg);}
    35%  {transform: translateY(-1px) rotate(0deg);}
    70%  {transform: translateY(-3px) rotate(0.02deg);}
    90%  {transform: translateY(1px) rotate(0deg);}
    100% {transform: translateY(0) rotate(0.02deg);}
}
/*@-webkit-keyframes range-x {
    0%   {transform: translateX(0);}
    30%  {transform: translateX(-1px) rotate(0.02deg);}
    50%  {transform: translateX(1px) rotate(0deg);}
    65%  {transform: translateX(0.5px) rotate(0.02deg);}
    80%  {transform: translateX(0px) rotate(0deg);}
    89%  {transform: translateX(-1px) rotate(0.02deg);}
    100% {transform: translateX(0) rotate(0deg);}
}*/
@-webkit-keyframes range-y {
    0%   {transform: translateY(0);}
    20%  {transform: translateY(3px) rotate(0.02deg);}
    35%  {transform: translateY(-1px) rotate(0deg);}
    70%  {transform: translateY(-3px) rotate(0.02deg);}
    90%  {transform: translateY(1px) rotate(0deg);}
    100% {transform: translateY(0) rotate(0.02deg);}
}

.service {
  padding: 0.5%;
}
#services .pack-service {
    position: relative;
    min-height: 1px;
    float: left;
    width: 25%;
    padding: 0%;
    padding-bottom: 1%;
    padding-top: 5%;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
#services .side-pack-service {
    position: relative;
    min-height: 1px;
    float: left;
    width: 50%;
    padding: 0%;
    padding-bottom: 5%;
    padding-top: 5%;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    cursor: pointer;
}
#services .pack-service:hover {
}

#services .alpha {margin: 1% 0 0 0;}
#services .service-icon {
    width: 92px;
    margin: 0 auto;
}
#services .service-icon i {
    display: block;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
#services .pack-service:hover .service-icon i {
    border: 3px solid #ccc;
    color: #fff;
    transform: scale(1) rotate(360deg);
    -webkit-transform: scale(1) rotate(360deg);
    -moz-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
}

#services .service-detail {
margin-top: 14%;
}

#services .service-detail h6 {
    text-transform: uppercase;
    font-weight: 250;
    margin: 10px 0 3px 0;
    text-align: center;
    font-size: 15px !important;
    color: rgba(220, 220, 220, 0.5);
    letter-spacing: 1.5px;
    visibility: hidden;
}
#services .mainfx:hover .service-detail h6 {
    text-transform: uppercase;
    font-weight: 250;
    margin: 10px 0 3px 0;
    text-align: center;
    font-size: 15px !important;
    color: rgba(220, 220, 220, 0.5);
    letter-spacing: 1.5px;
    visibility: visible !important;
}
#services .service-detail p {
    text-align: center;
    border-left: 0;
}

.icon1 img {
  position: relative;
  background-color: rgba(220, 220, 220, 0.15);
  width: 80%; text-align: center;
  padding: 5%
}
.icon1:hover img {
  background-color: #f97d3d;
}

.icon2 img {
  position: relative;
  background-color: rgba(220, 220, 220, 0.15);
  width: 80%; text-align: center;
  padding: 5%;
}
.icon2:hover img {
  background-color: #d562da;
}

.icon3 img {
  position: relative;
  background-color: rgba(220, 220, 220, 0.15);
  width: 80%; text-align: center;
  padding: 5%;
}
.icon3:hover img {
  background-color: #69c474;
}

.icon4 img {
  position: relative;
  background-color: rgba(220, 220, 220, 0.15);
  width: 80%; text-align: center;
  padding: 5%;
}
.icon4:hover img {
  background-color: #ef534c;
}

.icon5 img {
  position: relative;
  background-color: rgba(220, 220, 220, 0.15);
  width: 80%; text-align: center;
  padding: 5%;
}
.icon5:hover img {
  background-color: #0095d7;
}
.icon6 img {
  position: relative;
  background-color: rgba(220, 220, 220, 0.15);
  width: 80%; text-align: center;
  padding: 5%;
}
.icon6:hover img {
  background-color: #00648a;
}
.icon7 img {
  position: relative;
  background-color: rgba(220, 220, 220, 0.15);
  width: 80%; text-align: center;
  padding: 5%;
}
.icon7:hover img {
  background-color: #b28c67;
}
.icon8 img {
  position: relative;
  background-color: rgba(220, 220, 220, 0.15);
  width: 80%; text-align: center;
  padding: 5%;
}
.icon8:hover img {
  background-color: #f7c241;
}

@-webkit-keyframes spinner {
    0% { transform: rotate3d(0, 1, 0, 0deg); }
    100% { transform: rotate3d(0, 1, 0, 360deg); }
}

@-moz-keyframes spinner {
    0% { transform: rotate3d(0, 1, 0, 0deg); }
    100% { transform: rotate3d(0, 1, 0, 360deg); }
}

@keyframes spinner {
    0% { transform: rotate3d(0, 1, 0, 0deg); }
    100% { transform: rotate3d(0, 1, 0, 360deg); }
}

.mainfx.animatedspin { 
    -moz-animation: spinner 0.7s;
    -webkit-animation: spinner 0.7s;
    animation: spinner 0.7s;
}

.widget-profil .circle-img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    background-image: url('../images/front.jpg');
    margin-top: 25px;
    margin-bottom: 7px;
}

.widget-profil  h1 {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    font-weight: 400;

}

.widget-profil  h4 {
    text-align: center;
    font-size: 15px;
    margin-top: 0px;  

}
.widget-profil  h6 {
    text-align: center;
    font-size: 14px;
    font-weight: 400;

}

.widget-profil  p {
    border-left: 0px;
}

.widget-profil #profile_desc
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.widget-profil #profile_info
{
    padding-bottom: 15px;
}

.widget-profil #profile_social
{
    padding-top: 15px;
}

.profilediv {
  text-align: center;
}

#profile_social {
  margin: 0 auto;
  display:inline-block;
}

#profile_social a{
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 5px 0px 0px 15px;
    padding: 0;
    border-width: 1px;
    text-align: center;
    font-size: 24px;
    float: left;
    display: block;
    color : #428bca;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    border-radius: 50%;
}

#profile_social a:hover{
    background-color: #fff;
}
.widget-profil .image-holder{
    position: relative;
    margin: 15px auto;
    width: 150px;
    height: 150px;
}

.widget-profil .head-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}

.widget-profil  .head-image{
    z-index: 0;
}
.widget-profil  .front{
    z-index: 1;
}

.service {
  text-align: center;
}

#services .pack-service {
    position: relative;
    min-height: 1px;
    float: left;
    width: 25%;
    padding: 0%;
    padding-bottom: 1%;
    padding-top: 5%;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

div.ppt {
    display: none !important;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
/*  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);*/
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1.5s ease-in;
  -moz-transition: all 1.5s ease-in;
  -o-transition: all 1.5s ease-in;
  transition: all 1.5s ease-in;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
        width:100%;
        height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
        width:auto;
        height: 100%;
  }
}

@media (max-width: 107px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.joshmuscatdesign {
    width: 65%;
    margin-bottom: 12px;
    margin-left: 20px;
}

@media screen and (min-height:1200px) and (max-height: 1400px) and (min-width:991px)  { 
p {
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    margin: 0;
    color: #999 !important;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.widget-profil h1 {
  font-size: 34px;
  line-height: 76px;
}
.widget-profil h4 {
  font-size: 20px;
}
.widget-profil h6 {
  font-size: 20px;
}
.widget-profil .head-image {
  width: 200px;
  height: 200px;
}
.widget-profil .image-holder {
  width: 200px;
  height: 200px;
  margin: 35px auto;
}
.widget-profil #profile_desc {
  padding-top: 25px;
  padding-bottom: 25px;
}
.artwork-detail h6 {
  font-size: 20px !important;
}
.pageicon:hover .artwork-detail h6 {
  font-size: 20px !important;
}
.largescale {
  padding: 2% 8%;
}
.innerprofile {
  padding-left: 60px;
  padding-right: 60px;
}
.projectprofile img {
  position: relative;
  width: 75% !important;
  text-align: center;
}
.internallogo {
width: 400px !important;
margin-top: 16px !important;  
}
.statusbar {
  height: 5vh !important;
}
.return {
  margin-top: 16px !important;
  font-size: 16px;
}
.uni {
  margin-top: 8px;
}
.uni p {
  font-size: 16px;
}
}

@media screen and (min-height:900px) and (max-height: 1199px) and (min-width:991px)  { 
p {
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    margin: 0;
    color: #999 !important;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.widget-profil h1 {
  font-size: 30px;
  line-height: 76px;
}
.widget-profil h4 {
  font-size: 20px;
}
.widget-profil h6 {
  font-size: 16px;
}
.widget-profil .head-image {
  width: 200px;
  height: 200px;
}
.widget-profil .image-holder {
  width: 200px;
  height: 200px;
  margin: 35px auto;
}
.widget-profil #profile_desc {
  padding-top: 25px;
  padding-bottom: 25px;
}
.artwork-detail h6 {
  font-size: 18px !important;
}
.pageicon:hover .artwork-detail h6 {
  font-size: 18px !important;
}
.largescale {
  padding: 2% 8%;
}
.innerprofile {
  padding-left: 60px;
  padding-right: 60px;
}
.projectprofile img {
  position: relative;
  width: 75% !important;
  text-align: center;
}
.internallogo {
width: 400px !important;
margin-top: 16px !important;  
}
.statusbar {
  height: 5vh !important;
}
.return {
  margin-top: 16px !important;
  font-size: 16px;
}
.uniA {
  margin-top: 8px;
  width: 135px;
}
.uniA p {
  font-size: 16px;
}
.uniB {
  margin-top: 8px;
  width: 135px;
}
.uniB p {
  font-size: 16px;
}
}

.uniA {
  background-color: rgba(0, 100, 138, 0);
  border-radius: 2px;
  width: 115px;
  text-align: center;
  margin: 0 auto;
  margin-top: 6px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.uniA p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0) !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.pageicon:hover .uniA p {
  color: rgba(255, 255, 255, 0.9) !important;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  }

.artwork-detail:hover .uniA p {
  color: rgba(255, 255, 255, 0.9) !important;
    transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  }

.pageicon:hover .uniA {
  background-color: rgba(0, 100, 138, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  }

.artwork-detail:hover .uniA {
  background-color: rgba(0, 100, 138, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  }

.uniB {
  background-color: rgba(178, 140, 103, 0);
  border-radius: 2px;
  width: 115px;
  text-align: center;
  margin: 0 auto;
  margin-top: 6px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.uniB p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0) !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.pageicon:hover .uniB p {
  color: rgba(255, 255, 255, 0.9) !important;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  }

.artwork-detail:hover .uniB p {
  color: rgba(255, 255, 255, 0.9) !important;
    transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  }

.pageicon:hover .uniB {
  background-color: rgba(178, 140, 103, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  }

.artwork-detail:hover .uniB {
  background-color: rgba(178, 140, 103, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  }

/* Colour Theme */

.widget-profil{
    background-color: rgba(25, 25, 25, 0.7);   
}
.widget-profil .head-image{
}
.widget-profil .circle-img {
    border: 10px solid #4c70ba;
}
.widget-profil  h1 {
    color:#f9f9f9;
}
.widget-profil  h4 {
    color:#f9f9f9; 
}
.widget-profil  h6 {
    color:#f9f9f9; 
}
.widget-profil  p {
    color:#f9f9f9 !important;
    text-align: center;
}
.widget-profil #profile_desc {
    border-bottom: 1px solid #f9f9f9;
    border-top: 1px solid #f9f9f9;
}

/*#profile_social a:hover {
    color : #3B5998;
}
#profile_social #facebook:hover{
    color: #3B5998;
}
#profile_social #twitter:hover{
    color: #1dcaff;
}*/
            

/*
.highlight h6 {
  display: none;
}

.artwork-detail:hover .highlight h6 {
  display: inline;
  color: rgba(255, 255, 255, 0.9) !important;
    transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  }

.pageicon:hover .highlight h6 {
  display: inline;
  background-color: rgba(178, 140, 103, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  }

.artwork-detail:hover .highlight h6 {
  display: inline;
  background-color: rgba(178, 140, 103, 1);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  }*/