@media only screen and (min-width: 1200px) {

    .widget-profil #profile_social a{ 
        width: 45px;	
        height: 45px;	
        line-height: 45px;	
        font-size: 24px;	
    }
    .widget-profil h1 {
        font-size: 25px;
        line-height: 60px;
    }
}

@media only screen and (max-width: 1199px) {

    .widget-profil #profile_social a { 
        width: 34px;	
        height: 34px;	
        line-height: 34px;	
        font-size: 20px;	
    }

    .widget-profil h1 {
        font-size: 24px;
        line-height: 60px;
    }

    .widget-profil p {
    font-size: 13px;
    line-height: 20px;
    }
}

@media only screen and (max-width: 260px) {
    .widget-profil h1 {
        font-size: 25px !important;
        line-height: 39px !important;
    }

    .widget-profil h4 {
        font-size: 13px !important;
    }

    .widget-profil{ 	
        height: 265px !important;
        margin-bottom: 20px;
        float: none;
    }
    #profile_social {
        display: none;
    }
    #profile_desc {
        display:none;
    }
}

@media only screen  and (max-width: 767px) {
    .widget-profil{ 	
        height: 285px !important;
        margin-bottom: 20px;
        float: none;
    }
    #profile_social {
        display: none;
    }
    #profile_desc {
        display:none;
    }

    .widget-profil h1 {
        font-size: 22px !important;
        line-height: 39px !important;
    }

    .widget-profil h4 {
        font-size: 13px !important;
    }
    .joshmuscatdesign
    {
        width: 100% !important;
        margin-left: 0px !important;
        margin-bottom: 10px !important;
    }
    #joshmuscatdesign
    {
        text-align: center;
    }
    .pageicon:hover .mainfx-detail h6 {
    margin: 0px 0 0px 0; }
}

@media only screen and (min-width : 768px) and (max-width: 800px) {
    .widget-profil{ 	
        height: 320px !important;
        margin-bottom: 20px;
        float: none;
    }
    #profile_social {
        display: none;
    }
}

@media only screen and (min-width : 550px) and (max-width : 991px) {
    #profile .cycle-slideshow {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .joshmuscatdesign {
    width: 70% !important;
    margin-bottom: 8px !important;
    margin-left: 20px !important;
    }
    #joshmuscatdesign
    {
        text-align: center;
    }
    .content_2 {
    height: 80vh !important;
    padding: 15px 50px 120px !important;      
    }
}

@media only screen and (min-width : 400px) and (max-width : 600px) {
    .content_2 {
    padding-top: 15px !important;    
    }
    .appselect {
    padding-bottom: 30px !important;
    margin-bottom: 30px !important;
    }
    .tabcontent {
    margin-bottom: 50px;
    }
}

@media only screen and (min-width : 800px) and (max-width : 991px) {

    .widget-profil{ 	
        height: 300px !important;	
        margin-bottom: 20px;
        float: none;
    }

    #profile_social {
        display: none;
    }
    .content_2 {

    padding: 15px 50px 120px !important;      
    }
}

.content_2 {
    height: 100vh !important;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding: 50px 50px 50px;
}

@media only screen and (min-width : 0px) and (max-width : 399px) {
    .appselect {
        padding-bottom: 50px !important;
        margin-bottom: 50px !important;
    }
    .row {
    margin-right: -10px;
    margin-left: -10px;
    }
    .content_2 {
    padding: 0px 0px 0px !important;    
    }
    #move-y { 
    animation: none !important; 
    -webkit-animation: none !important;
    }
    .tabcontent {
    margin-bottom: 50px;
    }
    .icon1:hover img {
  background-color: rgba(220, 220, 220, 0.15);
    }
        .icon2:hover img {
  background-color: rgba(220, 220, 220, 0.15);
    }
        .icon3:hover img {
  background-color: rgba(220, 220, 220, 0.15);
    }
        .icon4:hover img {
  background-color: rgba(220, 220, 220, 0.15);
    }
        .icon5:hover img {
  background-color: rgba(220, 220, 220, 0.15);
    }
        .icon6:hover img {
  background-color: rgba(220, 220, 220, 0.15);
    }
        .icon7:hover img {
  background-color: rgba(220, 220, 220, 0.15);
    }
        .icon8:hover img {
  background-color: rgba(220, 220, 220, 0.15);
    }
}